# Data
data/DOR_Parcel/
data/eviction/data_dictionary_*.csv
data/eviction/opa_properties_assessments.csv
data/license_inspection/
data/pa_tracts/
data/philadelphia-neighborhoods/
data/septa/

# Libraries
draft_slides_files/libs/revealjs/

# R
.RData
.RDataTmp
.Renviron
.Rhistory
.Rproj.user

# Rendered files
*.html

# Other
Angel.qmd
eviction_main_reworked.qmd
