# Data
data/
outputs/
*.csv

# Libraries
draft_slides_files/
slides/libs/revealjs/

# R
.RData
.RDataTmp
.RDataTmp*
.Renviron
.Rhistory
.Rproj.user

# Rendered files
draft_slides.qmd
*.html

# Other
Angel.qmd
eviction_main_reworked.qmd
python/__pycache__
python/fairness/__pycache__
python/.ruff_cache
